@import "tailwindcss";

@import "@choice-ui/design-tokens/tokens.css";
@import "@choice-ui/design-tokens/preflight.css";
@import "@choice-ui/design-tokens/tailwind.css";

@import "@choice-ui/react/styles/components.css";

@source "../../core/app";

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  font-family:
    Inter,
    system-ui,
    sans-serif;
}
